.main-content ul{
  list-style-type: none;
}

ul.news-list li{
  margin-top: 5px;
  font-size: 16px;
}

.main-content li:before{
  content: "\00BB \0020";
}

ul.publication-list li {
  margin-top: 5px;
  font-size: 16px;
}

.main-author {
  font-weight: bold;
  text-decoration: underline;
}

.bold-italic {
  font-weight: bold;
  font-style: italic;
}

.side-container{
  display: flex;
  align-items: left;
  justify-content: left;
  margin-top: 3px;
}

.icon{
  padding-bottom: 5px;
}

.icon > img {
  height: 25px;
  width: 25px;
}

.icon-text{
  padding-left: 5px;
  padding-top: 2px;
}

.custom-footer{
  display: block;
  width: 100%;
  align-items: right;
}

.hidden-image{
  display: none;
}

li.paper::before {
  content: none !important;
}

.paper-links {
  display: block;
  clear: both;
}

.col-md-8 {
padding-left: 35px;
}
