.main-content ul{
  list-style-type: none;
}

ul.news-list li{
  margin-top: 5px;
  font-size: 16px;
}

.main-content li:before{
  content: "\00BB \0020";
}

ul.publication-list li {
  margin-top: 5px;
  font-size: 16px;

}
